h2 {
    text-align: center;
}

.title {
    text-align: center;
}

.container {
    background: rgb(163, 161, 161);
    height: 100%;
}

.questions {
    text-align: center;
    background: rgb(109, 109, 156);
    font-size: 34px;
}

.row {
    background: rgb(109, 109, 156);
    margin: 5%;
}

.btn {
    font-size: 25px;
    width: 45%;
}